#footer
  margin-top: 50px
  height: 100px
  width: 100%
  background-color: #E5E5E5

  h1
    position: relative
    text-align: center
    top: 50%
    transform: translateY(-50%)
    font:
      size: 17px
