<section id="about">
  <div class="text_wrapper">
    <h1>
      <span>¯\_(ツ)_/¯</span><br>
      What is CodeChallenge.io
    </h1>
    <p>Our goal at CodeChallenge.io is to help people who are interested in coding/programming, to improve their skills. We will provide challenges and projects on different complexities, and on a lot of different subjects including web design/development (jQuery, JS, CSS, HTML etc.). Our format is very simple, there will be text writing about the project, a video explainig and some links/resources to help you build it. Finally you will submit your project through a link (Github, Codepen etc.) and proceed to the next progressively harder challenge.</p>

    <hr class="long-seperator">
  </div>
</section>
