<section id="about">
  <div class="text_wrapper">
    <h1>
      <span>¯\_(ツ)_/¯</span><br>
      What is CodeChallenge.io
    </h1>
    <p>Raw denim craft beer meditation try-hard leggings, post-ironic squid waistcoat chicharrones helvetica pop-up yuccie. Mustache lomo yuccie polaroid schlitz chicharrones. Tote bag small batch kombucha, bitters poutine 90's retro kickstarter blue bottle dreamcatcher. Bicycle rights salvia sriracha you probably haven't heard of them.</p>

    <hr class="long-seperator">
  </div>
</section>
