<section id="building">
  <div class="text_wrapper">
    <h1>Building real things</h1>
    <p>At CodeChallenge.io you will be building quote on quote real projects. This means that you will learn subjects through projects that may as well could have been real-world projects. This will give you some form of context while learning and it will help you use the skills to create your own future projects. Each challenge will be based on a problem/product that you will build/find a solution to. We will guide you, but you will be learning from your own mistakes, which will teach you these subject in a more efficient way.</p>
    <hr class="long-seperator">
  </div>
</section>
