<section id="header">

  <div class="image">
    <div class="overlay"></div>
    <div class="wrapper">
      <h1>Improve your coding skills</h1>
      <hr>
      <p>CodeChallenge.io is the go to place for people of any skill, to improve their coding/programming abilities. We provide projects and challenges for you to complete, show off and learn a ton from.</p>
      <a href="#about"><img src="../images/arrow-down.svg" alt="There should be a arrow here :(" class="arrow-down"></a>
    </div>
  </div>


</section>
