<section id="perks">
  <div class="text_wrapper">
    <h1 class="section-title">Perks of CodeChallenge.io</h1>
    <div class="perk">
      <h1><img src="/images/trending-up.svg" alt="There should be an image here ಠ_ಠ"> Learn and improve skills on different topics</h1>
    </div>
    <div class="perk">
      <h1><img src="/images/rowing.svg" alt="There should be an image here ಠ_ಠ"> Challenge yourself and grow in the process</h1>
    </div>
    <div class="perk">
      <h1><img src="/images/group.svg" alt="There should be an image here ಠ_ಠ"> If you ever get stuck, a community of people is ready to help you</h1>
    </div>
  </div>
</section>
